.card{
    margin-top: 30%;
}

body{
    background-image: url(../images/restaurant-bgfade.jpg);
}

#survey{
    border: 1px solid #8CDBBE;
    border-radius: 2rem;
    font-family: 'Roboto', sans-serif;
    padding-top:1em;

}

hr {
    height: 1px;
    background-color: #e65100;
    color: #e65100;
    border: none;
    margin-top:1em;
    margin-bottom: 1em;
}

nav{
    font-family: 'Righteous', cursive;
}