.card{
    margin-top: 30%;
}

body{
    background-image: url(../images/restaurant-bgfade.jpg);
}

#survey{
    border: 1px solid #1d7d5a;
    border-radius: 2rem;
    font-family: 'Roboto', sans-serif;
    padding:1em;
    

}

hr {
    height: 1px;
    background-color: #e65100;
    color: #e65100;
    border: none;
    margin-top:1em;
    margin-bottom: 1em;
}

nav{
    font-family: 'Righteous', cursive;
}

ul {
    columns: 2;
    -webkit-columns: 2;
    -moz-columns: 2;
}

#surveyAnswer{
    text-align: left;
    font-size: 1.25em;
}

button{
    background-color: #1d7d5a;
    color: white;
}

@media screen and (min-width: 768px){
    body{
        background-image: url(../images/bg2.jpg);
    }
    ul{
        margin-left: 3em;
    }
    img{
        margin-right: 1.5em;
    }

}